Django==1.9.5
django-cors-headers==1.1.0
djangorestframework==3.3.3
gunicorn==19.4.5
huey==1.1.1
icalendar==3.9.2
mysqlclient==1.3.7
pkg-resources==0.0.0
python-dateutil==2.5.2
pytz==2016.3
redis==2.10.5
requests==2.9.1
six==1.10.0
