<!DOCTYPE html>
<html lang="en">
<head>
    <title>Notification Send Form</title>
</head>

<body>
    <form class="enter" method="post">
        {% csrf_token %}
        <input type="text" name="title" value="WS Companion">
        <input type="text" name="message" value="Message">
        <label for="gradStatus">Grad Only:</label>
        <input type="checkbox" name="gradStatus" id="gradStatus" unchecked="unchecked">
        <input type="submit" value="Send Push Notification">
    </form>
</body>
</html>
